<form>
    <h3>Real time products</h3>
    <!-- Product name -->
    <label for="title">Product name</label>
    <input type="text" name="title" id="title" placeholder="Product" required>

    <!-- Description -->
    <label for="description">Description</label>
    <input type="text" name="description" id="description" placeholder="Caracteristicas del producto" required>

    <!-- Stock -->
    <label for="stock">Stock</label>
    <input type="number" name="stock" id="stock" placeholder="3" required>

    <!-- Image(URL) -->
    <label for="thumbnail">Image(URL)</label>
    <input type="text" name="thumbnail" id="thumbnail" placeholder="https://example.com/image.jpg" required>

    <!-- Category -->
    <label for="category">Category</label>
    <input type="text" name="category" id="category" placeholder="Gamer" required>

    <!-- Price -->
    <label for="price" class="form-label">Price</label>
    <input type="number" name="price" id="price" placeholder="1200" required>

    <!-- Status-->
    <input name="status" type="checkbox" value="true" id="flexCheckChecked" checked>
    <label for="flexCheckChecked">Estado</label>

    <!-- Button to register -->
    <button type="submit" id="add-btn">To register</button>

    <!-- Delete product -->
    <h4>Delete product:</h4>

    <!-- ID del Producto a Eliminar -->
    <label for="id-prod">Product id</label>
    <input type="number" name="id-prod" id="id-prod" placeholder="Product id">

    <!-- Botón Eliminar -->
    <button type="button" id="delete-btn">Delete</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>