<div>
    <input type="text" id="user" placeholder="Write your name">
    <input type="text" id="mensaje" placeholder="Write a message">
    <button id="btn-send" onclick="sendMessage()">Send</button>
</div>
<div id="chats" >
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>